{% extends 'base.html' %}
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock title %}
{% block content %}
<div class="container py-5">
  <h1>{{ group }}</h1>
  Лев Толстой – зеркало русской революции.
  <p>
    {{ group.description }}
  </p>
  <article>
    {% for post in page_obj %}
      {% include 'includes/post.html' %}
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a><br>
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </article>
</div>
{% endblock content %}
